@{
    Layout = "_homeLayout";
    ViewData["Title"] = "Home";
}
<header id="WELCOME">
    <div class="mainphoto"></div>
    <div class="websiteTitle">

    </div>
</header>
<section class="sectionstyle1" id="ABOUT">
</section>
<section class="sectionstyle2" id="WHERE">
</section>